In [1]:
import pandas as pd
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:

# read in datasets

alq = pd.read_csv('ALQ_L.csv')
bmx = pd.read_csv('BMX_L.csv')
bpxo = pd.read_csv('BPXO_L.csv')
diq = pd.read_csv('DIQ_L.csv')
dpq = pd.read_csv('DPQ_L.csv')
dr1tot = pd.read_csv('DR1TOT_L.csv')
ghb = pd.read_csv('GHB_L.csv')
glu = pd.read_csv('GLU_L.csv')
paq = pd.read_csv('PAQ_L.csv')
smq = pd.read_csv('SMQ_L.csv')
vid = pd.read_csv('VID_L.csv')
demo = pd.read_csv('demo_l.csv')

#upload and fix sas file to be readable
file_path = 'SLQ_L.xpt'
slq = pd.read_sas(file_path, format='xport')
slq = slq.applymap(lambda x: x.decode('utf-8') if isinstance(x, bytes) else x)

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [3]:
# function to re
def clean_dataset(df):
    """
    Removes columns with more than 30% missing values and prints missing data stats before and after.

    Parameters:
        df (pd.DataFrame): The dataset to be cleaned.

    Returns:
        pd.DataFrame: The cleaned dataset.
    """
    # Calculate percentage of missing values for pritning if needed
    percent_missing = df.isnull().sum() * 100 / len(df)
    #print(perccent_missing)
    # Define threshold (columns with at least 70% non-missing values are retained)
    threshold = len(df) * 0.7
    df_cleaned = df.dropna(thresh=threshold, axis=1)  # Drop columns below threshold

    # Recalculate missing values for pritning if needed
    percent_missing_after = df_cleaned.isnull().sum() * 100 / len(df_cleaned)
    #print(percent_missing_after)
    return df_cleaned

In [4]:

# function for identifying categorical variables

def convert_cat(df):
    """
    Looks through each variable in df to find its unique values.
    If the number of unique values is less than 9 it converts that variable form a float to an object
    Parameters:
        df (pd.DataFrame): The dataset to be fixed.

    Returns:
        pd.DataFrame: categorical variables converted to object
    """
    
    df = df.copy()  # Avoid modifying the original DataFrame
    
    for col in df.columns:
        if df[col].nunique() < 9:  # Threshold for categorical variables
            if df[col].dtype == 'float64':  # Ensure only float columns are converted
                df[col] = df[col].astype('object')# Convert to categorical type
                df[col] = df[col].round()
    return df


from sklearn.impute import SimpleImputer


def impute(df):

    """
    Looks through each variable in df to find its unique values.
    If the number of unique values is less than 9 it converts that variable form a float to an object
    It the splits the df temporarily based on if the variable is and object or a float data type.
    Usess imputer to fill in missing variables

    Parameters:
        df (pd.DataFrame): The dataset to be cleaned.

    Returns:
        pd.DataFrame: filled null observations
   """
    
    df = df.copy()
                
     # Define imputers for numerical and categorical data
    num_imputer = SimpleImputer(strategy='mean')  # For numerical columns (replace NA with mean)
    cat_imputer = SimpleImputer(strategy='most_frequent')  # For categorical columns (replace NA with mode)

    
    # Separate columns into numerical and categorical
    num_cols = df.select_dtypes(include=['float64']).columns  # All float columns as numerical
    cat_cols = df.select_dtypes(include=['object']).columns  # All object columns as categorical

    # Apply the imputers to the respective columns
    df.loc[:, num_cols] = num_imputer.fit_transform(df.loc[:, num_cols])  # Apply numerical imputation
    df.loc[:, cat_cols] = cat_imputer.fit_transform(df.loc[:, cat_cols])  # Apply categorical imputation

    return df

In [5]:
# Selecting specific columns from each dataset that we want to test
a = alq[["SEQN", "ALQ111"]]
b = bmx[['SEQN', 'BMXBMI', 'BMXWAIST']]
c = bpxo[['SEQN', 'BPXOSY1', 'BPXOSY2', 'BPXOSY3', 'BPXODI1', 'BPXODI2']]
d = diq[['SEQN', 'DIQ010']]
e = dr1tot[['SEQN','DR1TKCAL','DR1TPROT','DR1TCARB','DR1TSUGR','DR1TFIBE',
            'DR1TTFAT','DR1TSFAT','DR1TMFAT','DR1TPFAT','DR1TCHOL','DR1TVB12',
            'DR1TVC','DR1TMAGN','DR1TCAFF','DR1TSODI','DR1TALCO','DR1_320Z']]
f = glu[['SEQN', 'LBXGLU']]
g = smq[['SEQN', 'SMQ020']]
h = vid[['SEQN', 'LBXVIDMS']]
i = dpq[['SEQN', 'DPQ040', 'DPQ050', 'DPQ060']]
j = demo[['SEQN', 'RIAGENDR', 'RIDAGEYR', 'RIDRETH3', 'DMDBORN4',
          'DMDYRUSR', 'DMDEDUC2', 'DMDMARTZ', 'RIDEXPRG', 'INDFMPIR']]
k = ghb[['SEQN','LBXGH']]
l = slq[['SEQN','SLD012']]

In [6]:
#merge into one df
data = j.copy()
for df in [a, b, c, d, e, f, g, h, i, k, l]:  # Removed duplicate merges
    data = pd.merge(data, df, on='SEQN', how='inner')


data_main = convert_cat(data)
print(len(data_main), data_main.shape[1])
print(data_main.info())

3562 44
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3562 entries, 0 to 3561
Data columns (total 44 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      3562 non-null   float64
 1   RIAGENDR  3562 non-null   object
 2   RIDAGEYR  3562 non-null   float64
 3   RIDRETH3  3562 non-null   object
 4   DMDBORN4  3562 non-null   object
 5   DMDYRUSR  744 non-null    object
 6   DMDEDUC2  3425 non-null   object
 7   DMDMARTZ  3424 non-null   object
 8   RIDEXPRG  641 non-null    object
 9   INDFMPIR  3083 non-null   float64
 10  ALQ111    3049 non-null   object
 11  BMXBMI    3512 non-null   float64
 12  BMXWAIST  3387 non-null   float64
 13  BPXOSY1   3431 non-null   float64
 14  BPXOSY2   3428 non-null   float64
 15  BPXOSY3   3417 non-null   float64
 16  BPXODI1   3431 non-null   float64
 17  BPXODI2   3428 non-null   float64
 18  DIQ010    3562 non-null   object
 19  DR1TKCAL  2821 non-null   float64
 20  DR1TPROT  2821 non-null   float64
 21  DR1TCARB  2821 non-null   float64
 22  DR1TSUGR  2821 non-null   float64
 23  DR1TFIBE  2821 non-null   float64
 24  DR1TTFAT  2821 non-null   float64
 25  DR1TSFAT  2821 non-null   float64
 26  DR1TMFAT  2821 non-null   float64
 27  DR1TPFAT  2821 non-null   float64
 28  DR1TCHOL  2821 non-null   float64
 29  DR1TVB12  2821 non-null   float64
 30  DR1TVC    2821 non-null   float64
 31  DR1TMAGN  2821 non-null   float64
 32  DR1TCAFF  2821 non-null   float64
 33  DR1TSODI  2821 non-null   float64
 34  DR1TALCO  2821 non-null   float64
 35  DR1_320Z  2821 non-null   float64
 36  LBXGLU    3329 non-null   float64
 37  SMQ020    3561 non-null   object
 38  LBXVIDMS  3280 non-null   float64
 39  DPQ040    3069 non-null   object
 40  DPQ050    3068 non-null   object
 41  DPQ060    3067 non-null   object
 42  LBXGH     3383 non-null   float64
 43  SLD012    3531 non-null   float64
dtypes: float64(31), object(13)
memory usage: 1.2+ MB
None

In [7]:
unique_counts = data_main.nunique()

print(unique_counts)

SEQN        3562
RIAGENDR       2
RIDAGEYR      63
RIDRETH3       6
DMDBORN4       2
DMDYRUSR       8
DMDEDUC2       6
DMDMARTZ       5
RIDEXPRG       3
INDFMPIR     415
ALQ111         3
BMXBMI       380
BMXWAIST     749
BPXOSY1      122
BPXOSY2      122
BPXOSY3      122
BPXODI1       82
BPXODI2       81
DIQ010         4
DR1TKCAL    1830
DR1TPROT    2656
DR1TCARB    2743
DR1TSUGR    2697
DR1TFIBE     738
DR1TTFAT    2672
DR1TSFAT    2771
DR1TMFAT    2767
DR1TPFAT    2746
DR1TCHOL     817
DR1TVB12    1265
DR1TVC      1759
DR1TMAGN     606
DR1TCAFF     510
DR1TSODI    2168
DR1TALCO     233
DR1_320Z     419
LBXGLU       198
SMQ020         4
LBXVIDMS     887
DPQ040         5
DPQ050         5
DPQ060         5
LBXGH         89
SLD012        23
dtype: int64

In [8]:
data_main.isnull().sum()

SEQN           0
RIAGENDR       0
RIDAGEYR       0
RIDRETH3       0
DMDBORN4       0
DMDYRUSR    2818
DMDEDUC2     137
DMDMARTZ     138
RIDEXPRG    2921
INDFMPIR     479
ALQ111       513
BMXBMI        50
BMXWAIST     175
BPXOSY1      131
BPXOSY2      134
BPXOSY3      145
BPXODI1      131
BPXODI2      134
DIQ010         0
DR1TKCAL     741
DR1TPROT     741
DR1TCARB     741
DR1TSUGR     741
DR1TFIBE     741
DR1TTFAT     741
DR1TSFAT     741
DR1TMFAT     741
DR1TPFAT     741
DR1TCHOL     741
DR1TVB12     741
DR1TVC       741
DR1TMAGN     741
DR1TCAFF     741
DR1TSODI     741
DR1TALCO     741
DR1_320Z     741
LBXGLU       233
SMQ020         1
LBXVIDMS     282
DPQ040       493
DPQ050       494
DPQ060       495
LBXGH        179
SLD012        31
dtype: int64

In [33]:
# Clean dataset
print(len(data_main), data.shape[1])
data_cleaned = clean_dataset(data_main) # Clean dataset
data_cleaned.to_csv("data_cleaned.csv", index=False)
print(len(data_cleaned), data_cleaned.shape[1])
data_imp = impute(data_cleaned)    # fill NAN values
print(len(data_imp), data_imp.shape[1])

3562 44
3562 42
3562 42

In [10]:
for col in data_imp.columns:
    print(f"Value counts for {col}:\n{data_imp[col].value_counts()}\n")

Value counts for SEQN:
SEQN
130378.0    1
138372.0    1
138320.0    1
138323.0    1
138324.0    1
           ..
134446.0    1
134452.0    1
134457.0    1
134461.0    1
142309.0    1
Name: count, Length: 3562, dtype: int64

Value counts for RIAGENDR:
RIAGENDR
2.0    1959
1.0    1603
Name: count, dtype: int64

Value counts for RIDAGEYR:
RIDAGEYR
80.0    204
62.0    106
68.0     95
67.0     88
64.0     88
       ...
45.0     31
24.0     30
23.0     29
20.0     29
78.0     27
Name: count, Length: 63, dtype: int64

Value counts for RIDRETH3:
RIDRETH3
3.0    2086
4.0     424
2.0     365
1.0     265
7.0     220
6.0     202
Name: count, dtype: int64

Value counts for DMDBORN4:
DMDBORN4
1.0    2818
2.0     744
Name: count, dtype: int64

Value counts for DMDEDUC2:
DMDEDUC2
5.0    1378
4.0    1029
3.0     730
2.0     256
1.0     167
9.0       2
Name: count, dtype: int64

Value counts for DMDMARTZ:
DMDMARTZ
1.0     2052
2.0      843
3.0      664
99.0       2
77.0       1
Name: count, dtype: int64

Value counts for INDFMPIR:
INDFMPIR
5.000000e+00    815
2.956951e+00    479
5.397605e-79     24
7.400000e-01     22
2.610000e+00     20
               ...
3.070000e+00      1
3.300000e-01      1
7.300000e-01      1
4.450000e+00      1
2.220000e+00      1
Name: count, Length: 416, dtype: int64

Value counts for ALQ111:
ALQ111
1.0    3265
2.0     292
9.0       5
Name: count, dtype: int64

Value counts for BMXBMI:
BMXBMI
29.588981    50
24.300000    37
27.800000    32
27.400000    32
23.400000    31
             ..
59.200000     1
44.300000     1
58.400000     1
48.100000     1
46.600000     1
Name: count, Length: 381, dtype: int64

Value counts for BMXWAIST:
BMXWAIST
100.334573    175
96.000000      19
84.000000      18
87.000000      18
99.000000      18
             ...
75.600000       1
146.600000      1
127.300000      1
128.100000      1
141.900000      1
Name: count, Length: 750, dtype: int64

Value counts for BPXOSY1:
BPXOSY1
121.93617    131
111.00000    100
117.00000     99
114.00000     96
113.00000     96
            ...
80.00000       1
188.00000      1
183.00000      1
216.00000      1
83.00000       1
Name: count, Length: 123, dtype: int64

Value counts for BPXOSY2:
BPXOSY2
121.907526    134
120.000000     93
110.000000     93
115.000000     92
114.000000     91
             ...
186.000000      1
80.000000       1
182.000000      1
201.000000      1
188.000000      1
Name: count, Length: 123, dtype: int64

Value counts for BPXOSY3:
BPXOSY3
121.574188    145
116.000000     93
115.000000     93
119.000000     91
108.000000     90
             ...
205.000000      1
171.000000      1
68.000000       1
192.000000      1
190.000000      1
Name: count, Length: 123, dtype: int64

Value counts for BPXODI1:
BPXODI1
72.0     149
75.0     147
69.0     142
73.0     139
77.0     138
        ...
37.0       1
39.0       1
131.0      1
117.0      1
119.0      1
Name: count, Length: 83, dtype: int64

Value counts for BPXODI2:
BPXODI2
74.000000     145
71.000000     134
73.970828     134
72.000000     134
70.000000     133
             ...
116.000000      1
113.000000      1
108.000000      1
124.000000      1
119.000000      1
Name: count, Length: 82, dtype: int64

Value counts for DIQ010:
DIQ010
2.0    2941
1.0     488
3.0     132
9.0       1
Name: count, dtype: int64

Value counts for DR1TKCAL:
DR1TKCAL
1976.346686    741
1869.000000      8
2021.000000      8
1836.000000      7
2048.000000      7
              ...
3729.000000      1
1573.000000      1
2454.000000      1
2785.000000      1
4651.000000      1
Name: count, Length: 1831, dtype: int64

Value counts for DR1TPROT:
DR1TPROT
74.76642     741
26.98000       3
48.22000       3
67.88000       3
39.27000       3
            ...
82.54000       1
69.96000       1
69.39000       1
109.28000      1
206.87000      1
Name: count, Length: 2657, dtype: int64

Value counts for DR1TCARB:
DR1TCARB
222.919844    741
185.600000      3
194.970000      2
155.040000      2
169.890000      2
             ...
166.490000      1
426.830000      1
221.590000      1
189.390000      1
531.110000      1
Name: count, Length: 2744, dtype: int64

Value counts for DR1TSUGR:
DR1TSUGR
94.935105     741
37.550000       3
26.490000       3
91.830000       3
106.120000      2
             ...
125.710000      1
103.280000      1
27.040000       1
50.700000       1
102.170000      1
Name: count, Length: 2698, dtype: int64

Value counts for DR1TFIBE:
DR1TFIBE
16.36519    741
11.80000     22
12.20000     19
14.40000     18
9.90000      18
           ...
18.00000      1
1.40000       1
31.30000      1
38.70000      1
34.30000      1
Name: count, Length: 739, dtype: int64

Value counts for DR1TTFAT:
DR1TTFAT
83.315973     741
86.750000       3
82.460000       3
79.120000       3
96.430000       3
             ...
35.760000       1
74.080000       1
75.570000       1
131.760000      1
189.470000      1
Name: count, Length: 2673, dtype: int64

Value counts for DR1TSFAT:
DR1TSFAT
2.661703e+01    741
1.330900e+01      2
2.894900e+01      2
5.397605e-79      2
1.325900e+01      2
               ...
6.850600e+01      1
4.942600e+01      1
2.792400e+01      1
7.890000e-01      1
8.065400e+01      1
Name: count, Length: 2772, dtype: int64

Value counts for DR1TMFAT:
DR1TMFAT
28.481459    741
14.150000      2
26.447000      2
6.293000       2
19.251000      2
            ...
1.884000       1
38.563000      1
19.710000      1
43.551000      1
54.177000      1
Name: count, Length: 2768, dtype: int64

Value counts for DR1TPFAT:
DR1TPFAT
19.249434    741
12.969000      3
8.705000       3
24.934000      3
23.010000      3
            ...
46.764000      1
22.044000      1
43.253000      1
1.318000       1
35.914000      1
Name: count, Length: 2747, dtype: int64

Value counts for DR1TCHOL:
DR1TCHOL
306.796881     741
93.000000       16
172.000000      15
135.000000      14
159.000000      14
              ...
464.000000       1
1298.000000      1
739.000000       1
407.000000       1
7.000000         1
Name: count, Length: 818, dtype: int64

Value counts for DR1TVB12:
DR1TVB12
4.242081e+00    741
5.397605e-79     13
2.510000e+00     12
2.450000e+00     11
2.140000e+00     11
               ...
1.061000e+01      1
1.099000e+01      1
6.180000e+00      1
5.140000e+00      1
9.740000e+00      1
Name: count, Length: 1266, dtype: int64

Value counts for DR1TVC:
DR1TVC
8.144183e+01    741
5.397605e-79     15
5.900000e+00      8
1.070000e+01      8
1.080000e+01      8
               ...
3.580000e+01      1
1.266000e+02      1
3.150000e+01      1
1.737000e+02      1
6.260000e+01      1
Name: count, Length: 1760, dtype: int64

Value counts for DR1TMAGN:
DR1TMAGN
294.375753    741
273.000000     18
235.000000     17
193.000000     17
286.000000     17
             ...
447.000000      1
661.000000      1
609.000000      1
506.000000      1
909.000000      1
Name: count, Length: 607, dtype: int64

Value counts for DR1TCAFF:
DR1TCAFF
1.520585e+02    741
5.397605e-79    346
1.440000e+02     60
1.920000e+02     57
9.600000e+01     53
               ...
7.430000e+02      1
5.480000e+02      1
5.470000e+02      1
4.700000e+02      1
2.680000e+02      1
Name: count, Length: 511, dtype: int64

Value counts for DR1TSODI:
DR1TSODI
3065.253456    741
2622.000000      5
2911.000000      5
3049.000000      5
1966.000000      5
              ...
2923.000000      1
3229.000000      1
3163.000000      1
5432.000000      1
9476.000000      1
Name: count, Length: 2169, dtype: int64

Value counts for DR1TALCO:
DR1TALCO
5.397605e-79    2238
7.333924e+00     741
1.400000e+01      36
2.810000e+01      27
2.230000e+01      16
                ...
9.790000e+01       1
7.460000e+01       1
8.030000e+01       1
4.390000e+01       1
1.660000e+01       1
Name: count, Length: 234, dtype: int64

Value counts for DR1_320Z:
DR1_320Z
1.275656e+03    741
5.397605e-79    332
9.600000e+02    106
4.800000e+02    105
1.920000e+03    101
               ...
7.999000e+01      1
4.309500e+03      1
1.155000e+03      1
1.850000e+02      1
9.297000e+02      1
Name: count, Length: 420, dtype: int64

Value counts for LBXGLU:
LBXGLU
109.23881    233
98.00000     135
97.00000     130
101.00000    123
99.00000     121
            ...
325.00000      1
308.00000      1
262.00000      1
194.00000      1
204.00000      1
Name: count, Length: 199, dtype: int64

Value counts for SMQ020:
SMQ020
2.0    2184
1.0    1374
9.0       3
7.0       1
Name: count, dtype: int64

Value counts for LBXVIDMS:
LBXVIDMS
81.059329     282
105.000000     29
101.000000     28
104.000000     28
110.000000     24
             ...
77.000000       1
31.800000       1
20.700000       1
26.300000       1
36.600000       1
Name: count, Length: 888, dtype: int64

Value counts for DPQ040:
DPQ040
0.0    1849
1.0    1159
2.0     299
3.0     252
7.0       3
Name: count, dtype: int64

Value counts for DPQ050:
DPQ050
0.0    2571
1.0     648
2.0     203
3.0     138
9.0       2
Name: count, dtype: int64

Value counts for DPQ060:
DPQ060
0.0    2704
1.0     601
2.0     145
3.0     109
7.0       3
Name: count, dtype: int64

Value counts for LBXGH:
LBXGH
5.6     293
5.4     293
5.3     286
5.5     281
5.2     273
       ...
3.8       1
3.6       1
3.9       1
10.5      1
9.0       1
Name: count, Length: 90, dtype: int64

Value counts for SLD012:
SLD012
8.000000     723
7.000000     528
7.500000     417
9.000000     415
8.500000     328
6.000000     244
6.500000     182
10.000000    164
5.000000     120
9.500000     102
5.500000      67
4.000000      52
11.000000     47
7.700085      31
10.500000     27
4.500000      26
12.000000     19
3.000000      17
2.000000      13
3.500000      12
14.000000     11
11.500000      8
13.000000      6
12.500000      3
Name: count, dtype: int64

In [11]:
print(data_imp.info())  #check non null count and Dtype

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3562 entries, 0 to 3561
Data columns (total 42 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      3562 non-null   float64
 1   RIAGENDR  3562 non-null   object
 2   RIDAGEYR  3562 non-null   float64
 3   RIDRETH3  3562 non-null   object
 4   DMDBORN4  3562 non-null   object
 5   DMDEDUC2  3562 non-null   object
 6   DMDMARTZ  3562 non-null   object
 7   INDFMPIR  3562 non-null   float64
 8   ALQ111    3562 non-null   object
 9   BMXBMI    3562 non-null   float64
 10  BMXWAIST  3562 non-null   float64
 11  BPXOSY1   3562 non-null   float64
 12  BPXOSY2   3562 non-null   float64
 13  BPXOSY3   3562 non-null   float64
 14  BPXODI1   3562 non-null   float64
 15  BPXODI2   3562 non-null   float64
 16  DIQ010    3562 non-null   object
 17  DR1TKCAL  3562 non-null   float64
 18  DR1TPROT  3562 non-null   float64
 19  DR1TCARB  3562 non-null   float64
 20  DR1TSUGR  3562 non-null   float64
 21  DR1TFIBE  3562 non-null   float64
 22  DR1TTFAT  3562 non-null   float64
 23  DR1TSFAT  3562 non-null   float64
 24  DR1TMFAT  3562 non-null   float64
 25  DR1TPFAT  3562 non-null   float64
 26  DR1TCHOL  3562 non-null   float64
 27  DR1TVB12  3562 non-null   float64
 28  DR1TVC    3562 non-null   float64
 29  DR1TMAGN  3562 non-null   float64
 30  DR1TCAFF  3562 non-null   float64
 31  DR1TSODI  3562 non-null   float64
 32  DR1TALCO  3562 non-null   float64
 33  DR1_320Z  3562 non-null   float64
 34  LBXGLU    3562 non-null   float64
 35  SMQ020    3562 non-null   object
 36  LBXVIDMS  3562 non-null   float64
 37  DPQ040    3562 non-null   object
 38  DPQ050    3562 non-null   object
 39  DPQ060    3562 non-null   object
 40  LBXGH     3562 non-null   float64
 41  SLD012    3562 non-null   float64
dtypes: float64(31), object(11)
memory usage: 1.1+ MB
None

In [12]:
adj_data = data_imp.copy() #prep new data for outlier removal and adding variables for usability

In [13]:
adj_data.drop(columns=['SEQN'], inplace=True)    # remove ID variable SEQN, only needed for join

#convert 'I dont Know' values to no
adj_data['DMDMARTZ'] = adj_data['DMDMARTZ'].replace(99, 3)   
adj_data['ALQ111'] = adj_data['ALQ111'].replace(9, 2)
adj_data['SMQ020'] = adj_data['SMQ020'].replace(9, 2)
adj_data['DPQ050'] = adj_data['DPQ050'].replace(9, 0)

adj_data['DIQ010'] = adj_data['DIQ010'].replace(3, 1)     # Diagnosis variable, convert borderline( prediabetic diagnosis) value
                                                          #  to Diabetic value for data clarity.
# remove outlires, between 1 and 5 observations per variable listed below
adj_data = adj_data[adj_data['DMDEDUC2'] != 9]
adj_data = adj_data[adj_data['DMDMARTZ'] != 77]
adj_data = adj_data[adj_data['DIQ010'] != 9]
adj_data = adj_data[adj_data['SMQ020'] != 7]
adj_data = adj_data[adj_data['DPQ040'] != 7]
adj_data = adj_data[adj_data['DPQ060'] != 7]

print(len(adj_data), adj_data.shape[1])   # check how many observations were lost, only 11

adj_data = convert_cat(adj_data)     #convert  category values again in case any reverted back to float Dtype

print(adj_data.info())

3551 41
<class 'pandas.core.frame.DataFrame'>
Index: 3551 entries, 0 to 3561
Data columns (total 41 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   RIAGENDR  3551 non-null   object
 1   RIDAGEYR  3551 non-null   float64
 2   RIDRETH3  3551 non-null   object
 3   DMDBORN4  3551 non-null   object
 4   DMDEDUC2  3551 non-null   object
 5   DMDMARTZ  3551 non-null   object
 6   INDFMPIR  3551 non-null   float64
 7   ALQ111    3551 non-null   object
 8   BMXBMI    3551 non-null   float64
 9   BMXWAIST  3551 non-null   float64
 10  BPXOSY1   3551 non-null   float64
 11  BPXOSY2   3551 non-null   float64
 12  BPXOSY3   3551 non-null   float64
 13  BPXODI1   3551 non-null   float64
 14  BPXODI2   3551 non-null   float64
 15  DIQ010    3551 non-null   object
 16  DR1TKCAL  3551 non-null   float64
 17  DR1TPROT  3551 non-null   float64
 18  DR1TCARB  3551 non-null   float64
 19  DR1TSUGR  3551 non-null   float64
 20  DR1TFIBE  3551 non-null   float64
 21  DR1TTFAT  3551 non-null   float64
 22  DR1TSFAT  3551 non-null   float64
 23  DR1TMFAT  3551 non-null   float64
 24  DR1TPFAT  3551 non-null   float64
 25  DR1TCHOL  3551 non-null   float64
 26  DR1TVB12  3551 non-null   float64
 27  DR1TVC    3551 non-null   float64
 28  DR1TMAGN  3551 non-null   float64
 29  DR1TCAFF  3551 non-null   float64
 30  DR1TSODI  3551 non-null   float64
 31  DR1TALCO  3551 non-null   float64
 32  DR1_320Z  3551 non-null   float64
 33  LBXGLU    3551 non-null   float64
 34  SMQ020    3551 non-null   object
 35  LBXVIDMS  3551 non-null   float64
 36  DPQ040    3551 non-null   object
 37  DPQ050    3551 non-null   object
 38  DPQ060    3551 non-null   object
 39  LBXGH     3551 non-null   float64
 40  SLD012    3551 non-null   float64
dtypes: float64(30), object(11)
memory usage: 1.1+ MB
None

In [14]:

adj_data.to_csv("adj_data.csv", index=False)