In [72]:
import pandas as pd

In [98]:
## Loading in data
demographic = pd.read_csv('/Users/cartersilos/Downloads/demo_l (1).csv')
questionnaire = pd.read_csv('/Users/cartersilos/Downloads/diq_l (1).csv')

In [250]:
## Printed out columns to show which variables belong to which data set
demographic.columns

Index(['SEQN', 'SDDSRVYR', 'RIDSTATR', 'RIAGENDR', 'RIDAGEYR', 'RIDAGEMN',
       'RIDRETH1', 'RIDRETH3', 'RIDEXMON', 'RIDEXAGM', 'DMQMILIZ', 'DMDBORN4',
       'DMDYRUSR', 'DMDEDUC2', 'DMDMARTZ', 'RIDEXPRG', 'DMDHHSIZ', 'DMDHRGND',
       'DMDHRAGZ', 'DMDHREDZ', 'DMDHRMAZ', 'DMDHSEDZ', 'WTINT2YR', 'WTMEC2YR',
       'SDMVSTRA', 'SDMVPSU', 'INDFMPIR'],
      dtype='object')

In [252]:
## Printed out columns to show which variables belong to which data set
questionnaire.columns

Index(['SEQN', 'DIQ010', 'DID040', 'DIQ160', 'DIQ180', 'DIQ050', 'DID060',
       'DIQ060U', 'DIQ070'],
      dtype='object')

In [254]:
## Shows values for demographic data
print(demographic)

           SEQN  SDDSRVYR  RIDSTATR  RIAGENDR  RIDAGEYR  RIDAGEMN  RIDRETH1  \
0      130378.0      12.0       2.0       1.0      43.0       NaN       5.0
1      130379.0      12.0       2.0       1.0      66.0       NaN       3.0
2      130380.0      12.0       2.0       2.0      44.0       NaN       2.0
3      130381.0      12.0       2.0       2.0       5.0       NaN       5.0
4      130382.0      12.0       2.0       1.0       2.0       NaN       3.0
...         ...       ...       ...       ...       ...       ...       ...
11928  142306.0      12.0       2.0       1.0       9.0       NaN       2.0
11929  142307.0      12.0       2.0       2.0      49.0       NaN       4.0
11930  142308.0      12.0       2.0       1.0      50.0       NaN       2.0
11931  142309.0      12.0       2.0       1.0      40.0       NaN       2.0
11932  142310.0      12.0       2.0       2.0      80.0       NaN       3.0

       RIDRETH3  RIDEXMON  RIDEXAGM  ...  DMDHRGND  DMDHRAGZ  DMDHREDZ  \
0           6.0       2.0       NaN  ...       NaN       NaN       NaN
1           3.0       2.0       NaN  ...       NaN       NaN       NaN
2           2.0       1.0       NaN  ...       NaN       NaN       NaN
3           7.0       1.0      71.0  ...       2.0       2.0       2.0
4           3.0       2.0      34.0  ...       2.0       2.0       3.0
...         ...       ...       ...  ...       ...       ...       ...
11928       2.0       1.0     111.0  ...       1.0       3.0       3.0
11929       4.0       2.0       NaN  ...       NaN       NaN       NaN
11930       2.0       1.0       NaN  ...       NaN       NaN       NaN
11931       2.0       1.0       NaN  ...       NaN       NaN       NaN
11932       3.0       1.0       NaN  ...       NaN       NaN       NaN

       DMDHRMAZ  DMDHSEDZ      WTINT2YR      WTMEC2YR  SDMVSTRA  SDMVPSU  \
0           NaN       NaN  50055.450807  54374.463898     173.0      2.0
1           NaN       NaN  29087.450605  34084.721548     173.0      2.0
2           NaN       NaN  80062.674301  81196.277992     174.0      1.0
3           3.0       NaN  38807.268902  55698.607106     182.0      2.0
4           1.0       2.0  30607.519774  36434.146346     182.0      2.0
...         ...       ...           ...           ...       ...      ...
11928       3.0       NaN  11147.192563  13459.129019     176.0      1.0
11929       NaN       NaN  69419.620456  64962.328962     181.0      1.0
11930       NaN       NaN  32696.313477  44367.534132     183.0      2.0
11931       NaN       NaN  30547.974564  46249.361849     176.0      1.0
11932       NaN       NaN  32753.585494  49647.225467     187.0      2.0

       INDFMPIR
0          5.00
1          5.00
2          1.41
3          1.53
4          3.60
...         ...
11928      2.01
11929       NaN
11930      1.95
11931      3.11
11932      5.00

[11933 rows x 27 columns]

In [256]:
## Shows values for questionnaire data
print(questionnaire)

           SEQN  DIQ010  DID040  DIQ160  DIQ180  DIQ050  DID060  DIQ060U  \
0      130378.0     2.0     NaN     2.0     2.0     NaN     NaN      NaN
1      130379.0     2.0     NaN     2.0     1.0     NaN     NaN      NaN
2      130380.0     1.0    35.0     NaN     NaN     2.0     NaN      NaN
3      130381.0     2.0     NaN     NaN     NaN     NaN     NaN      NaN
4      130382.0     2.0     NaN     NaN     NaN     NaN     NaN      NaN
...         ...     ...     ...     ...     ...     ...     ...      ...
11739  142306.0     2.0     NaN     NaN     NaN     NaN     NaN      NaN
11740  142307.0     1.0    42.0     NaN     NaN     2.0     NaN      NaN
11741  142308.0     2.0     NaN     2.0     2.0     NaN     NaN      NaN
11742  142309.0     2.0     NaN     2.0     2.0     NaN     NaN      NaN
11743  142310.0     2.0     NaN     2.0     1.0     NaN     NaN      NaN

       DIQ070
0         NaN
1         NaN
2         1.0
3         NaN
4         NaN
...       ...
11739     NaN
11740     1.0
11741     NaN
11742     NaN
11743     NaN

[11744 rows x 9 columns]

In [258]:
## Merges the two data sets on the shared variable of SEQN
diabetes = pd.merge(demographic, questionnaire, on = 'SEQN', how = 'inner')

In [260]:
## Shows the values of the merged data set
print(diabetes)

           SEQN  SDDSRVYR  RIDSTATR  RIAGENDR  RIDAGEYR  RIDAGEMN  RIDRETH1  \
0      130378.0      12.0       2.0       1.0      43.0       NaN       5.0
1      130379.0      12.0       2.0       1.0      66.0       NaN       3.0
2      130380.0      12.0       2.0       2.0      44.0       NaN       2.0
3      130381.0      12.0       2.0       2.0       5.0       NaN       5.0
4      130382.0      12.0       2.0       1.0       2.0       NaN       3.0
...         ...       ...       ...       ...       ...       ...       ...
11739  142306.0      12.0       2.0       1.0       9.0       NaN       2.0
11740  142307.0      12.0       2.0       2.0      49.0       NaN       4.0
11741  142308.0      12.0       2.0       1.0      50.0       NaN       2.0
11742  142309.0      12.0       2.0       1.0      40.0       NaN       2.0
11743  142310.0      12.0       2.0       2.0      80.0       NaN       3.0

       RIDRETH3  RIDEXMON  RIDEXAGM  ...  SDMVPSU  INDFMPIR  DIQ010  DID040  \
0           6.0       2.0       NaN  ...      2.0      5.00     2.0     NaN
1           3.0       2.0       NaN  ...      2.0      5.00     2.0     NaN
2           2.0       1.0       NaN  ...      1.0      1.41     1.0    35.0
3           7.0       1.0      71.0  ...      2.0      1.53     2.0     NaN
4           3.0       2.0      34.0  ...      2.0      3.60     2.0     NaN
...         ...       ...       ...  ...      ...       ...     ...     ...
11739       2.0       1.0     111.0  ...      1.0      2.01     2.0     NaN
11740       4.0       2.0       NaN  ...      1.0       NaN     1.0    42.0
11741       2.0       1.0       NaN  ...      2.0      1.95     2.0     NaN
11742       2.0       1.0       NaN  ...      1.0      3.11     2.0     NaN
11743       3.0       1.0       NaN  ...      2.0      5.00     2.0     NaN

       DIQ160  DIQ180  DIQ050  DID060  DIQ060U  DIQ070
0         2.0     2.0     NaN     NaN      NaN     NaN
1         2.0     1.0     NaN     NaN      NaN     NaN
2         NaN     NaN     2.0     NaN      NaN     1.0
3         NaN     NaN     NaN     NaN      NaN     NaN
4         NaN     NaN     NaN     NaN      NaN     NaN
...       ...     ...     ...     ...      ...     ...
11739     NaN     NaN     NaN     NaN      NaN     NaN
11740     NaN     NaN     2.0     NaN      NaN     1.0
11741     2.0     2.0     NaN     NaN      NaN     NaN
11742     2.0     2.0     NaN     NaN      NaN     NaN
11743     2.0     1.0     NaN     NaN      NaN     NaN

[11744 rows x 35 columns]

In [262]:
## Shows the Null Values for each variable
diabetes.isna().sum()

SEQN            0
SDDSRVYR        0
RIDSTATR        0
RIAGENDR        0
RIDAGEYR        0
RIDAGEMN    11556
RIDRETH1        0
RIDRETH3        0
RIDEXMON     3017
RIDEXAGM     9090
DMQMILIZ     3443
DMDBORN4       19
DMDYRUSR     9869
DMDEDUC2     3950
DMDMARTZ     3952
RIDEXPRG    10241
DMDHHSIZ        0
DMDHRGND     7818
DMDHRAGZ     7809
DMDHREDZ     8172
DMDHRMAZ     7911
DMDHSEDZ     9722
WTINT2YR        0
WTMEC2YR        0
SDMVSTRA        0
SDMVPSU         0
INDFMPIR     2014
DIQ010          4
DID040      10663
DIQ160       3722
DIQ180       3440
DIQ050      10663
DID060      11401
DIQ060U     11412
DIQ070       9463
dtype: int64

In [264]:
## Shows the percent of missing values for each varaible
percent_missing = diabetes.isnull().sum() * 100 / len(diabetes) 
print(percent_missing)

SEQN         0.000000
SDDSRVYR     0.000000
RIDSTATR     0.000000
RIAGENDR     0.000000
RIDAGEYR     0.000000
RIDAGEMN    98.399183
RIDRETH1     0.000000
RIDRETH3     0.000000
RIDEXMON    25.689714
RIDEXAGM    77.401226
DMQMILIZ    29.317098
DMDBORN4     0.161785
DMDYRUSR    84.034401
DMDEDUC2    33.634196
DMDMARTZ    33.651226
RIDEXPRG    87.201975
DMDHHSIZ     0.000000
DMDHRGND    66.570163
DMDHRAGZ    66.493529
DMDHREDZ    69.584469
DMDHRMAZ    67.362057
DMDHSEDZ    82.782698
WTINT2YR     0.000000
WTMEC2YR     0.000000
SDMVSTRA     0.000000
SDMVPSU      0.000000
INDFMPIR    17.149183
DIQ010       0.034060
DID040      90.795300
DIQ160      31.692779
DIQ180      29.291553
DIQ050      90.795300
DID060      97.079360
DIQ060U     97.173025
DIQ070      80.577316
dtype: float64

In [286]:
## Sets a threshold of a maximum of 30% of missing values for each varaible.
## if a variable has higher than 30% of missing values, the variable is removed from the data set.
threshold = len(diabetes) * 0.7

In [232]:
## Removes the varaibles according to the threshold.
diabetes.dropna(thresh=threshold, axis=1, inplace=True) 

print(diabetes)

           SEQN  SDDSRVYR  RIDSTATR  RIAGENDR  RIDAGEYR  RIDRETH1  RIDRETH3  \
0      130378.0      12.0       2.0       1.0      43.0       5.0       6.0
1      130379.0      12.0       2.0       1.0      66.0       3.0       3.0
2      130380.0      12.0       2.0       2.0      44.0       2.0       2.0
3      130381.0      12.0       2.0       2.0       5.0       5.0       7.0
4      130382.0      12.0       2.0       1.0       2.0       3.0       3.0
...         ...       ...       ...       ...       ...       ...       ...
11739  142306.0      12.0       2.0       1.0       9.0       2.0       2.0
11740  142307.0      12.0       2.0       2.0      49.0       4.0       4.0
11741  142308.0      12.0       2.0       1.0      50.0       2.0       2.0
11742  142309.0      12.0       2.0       1.0      40.0       2.0       2.0
11743  142310.0      12.0       2.0       2.0      80.0       3.0       3.0

       RIDEXMON  DMQMILIZ  DMDBORN4  DMDHHSIZ      WTINT2YR      WTMEC2YR  \
0           2.0       2.0       2.0       4.0  50055.450807  54374.463898
1           2.0       2.0       1.0       2.0  29087.450605  34084.721548
2           1.0       2.0       2.0       7.0  80062.674301  81196.277992
3           1.0       NaN       1.0       2.0  38807.268902  55698.607106
4           2.0       NaN       1.0       4.0  30607.519774  36434.146346
...         ...       ...       ...       ...           ...           ...
11739       1.0       NaN       1.0       2.0  11147.192563  13459.129019
11740       2.0       2.0       1.0       5.0  69419.620456  64962.328962
11741       1.0       2.0       2.0       3.0  32696.313477  44367.534132
11742       1.0       1.0       1.0       5.0  30547.974564  46249.361849
11743       1.0       2.0       1.0       2.0  32753.585494  49647.225467

       SDMVSTRA  SDMVPSU  INDFMPIR  DIQ010  DIQ180
0         173.0      2.0      5.00     2.0     2.0
1         173.0      2.0      5.00     2.0     1.0
2         174.0      1.0      1.41     1.0     NaN
3         182.0      2.0      1.53     2.0     NaN
4         182.0      2.0      3.60     2.0     NaN
...         ...      ...       ...     ...     ...
11739     176.0      1.0      2.01     2.0     NaN
11740     181.0      1.0       NaN     1.0     NaN
11741     183.0      2.0      1.95     2.0     2.0
11742     176.0      1.0      3.11     2.0     2.0
11743     187.0      2.0      5.00     2.0     1.0

[11744 rows x 18 columns]

In [234]:
## Shows the updated data set's missing value in percent by variable
percent_missing = diabetes.isnull().sum() * 100 / len(diabetes) 
print(percent_missing)

SEQN         0.000000
SDDSRVYR     0.000000
RIDSTATR     0.000000
RIAGENDR     0.000000
RIDAGEYR     0.000000
RIDRETH1     0.000000
RIDRETH3     0.000000
RIDEXMON    25.689714
DMQMILIZ    29.317098
DMDBORN4     0.161785
DMDHHSIZ     0.000000
WTINT2YR     0.000000
WTMEC2YR     0.000000
SDMVSTRA     0.000000
SDMVPSU      0.000000
INDFMPIR    17.149183
DIQ010       0.034060
DIQ180      29.291553
dtype: float64

In [300]:
## This function imputes the data meaning it replaces the NA Values
##for both categorical and numerical data

from sklearn.impute import SimpleImputer

col_names = ['SEQN','SDDSRVYR','RIDSTATR','RIAGENDR','RIDAGEYR', 'RIDRETH1', 'RIDRETH3','RIDEXMON', 'DMQMILIZ', 'DMDBORN4', 'DMDHHSIZ', 
             'WTINT2YR','WTMEC2YR','SDMVSTRA','INDFMPIR', 'SDMVPSU','DIQ010' , 'DIQ180']

diabetes_new = pd.DataFrame(diabetes, columns=col_names)

imp = SimpleImputer(strategy = 'most_frequent')
imp.fit(diabetes_new)
diabetes_imp = pd.DataFrame(imp.transform(diabetes_new), columns = col_names) 
print(diabetes_imp)

           SEQN  SDDSRVYR  RIDSTATR  RIAGENDR  RIDAGEYR  RIDRETH1  RIDRETH3  \
0      130378.0      12.0       2.0       1.0      43.0       5.0       6.0
1      130379.0      12.0       2.0       1.0      66.0       3.0       3.0
2      130380.0      12.0       2.0       2.0      44.0       2.0       2.0
3      130381.0      12.0       2.0       2.0       5.0       5.0       7.0
4      130382.0      12.0       2.0       1.0       2.0       3.0       3.0
...         ...       ...       ...       ...       ...       ...       ...
11739  142306.0      12.0       2.0       1.0       9.0       2.0       2.0
11740  142307.0      12.0       2.0       2.0      49.0       4.0       4.0
11741  142308.0      12.0       2.0       1.0      50.0       2.0       2.0
11742  142309.0      12.0       2.0       1.0      40.0       2.0       2.0
11743  142310.0      12.0       2.0       2.0      80.0       3.0       3.0

       RIDEXMON  DMQMILIZ  DMDBORN4  DMDHHSIZ      WTINT2YR      WTMEC2YR  \
0           2.0       2.0       2.0       4.0  50055.450807  54374.463898
1           2.0       2.0       1.0       2.0  29087.450605  34084.721548
2           1.0       2.0       2.0       7.0  80062.674301  81196.277992
3           1.0       2.0       1.0       2.0  38807.268902  55698.607106
4           2.0       2.0       1.0       4.0  30607.519774  36434.146346
...         ...       ...       ...       ...           ...           ...
11739       1.0       2.0       1.0       2.0  11147.192563  13459.129019
11740       2.0       2.0       1.0       5.0  69419.620456  64962.328962
11741       1.0       2.0       2.0       3.0  32696.313477  44367.534132
11742       1.0       1.0       1.0       5.0  30547.974564  46249.361849
11743       1.0       2.0       1.0       2.0  32753.585494  49647.225467

       SDMVSTRA  INDFMPIR  SDMVPSU  DIQ010  DIQ180
0         173.0      5.00      2.0     2.0     2.0
1         173.0      5.00      2.0     2.0     1.0
2         174.0      1.41      1.0     1.0     2.0
3         182.0      1.53      2.0     2.0     2.0
4         182.0      3.60      2.0     2.0     2.0
...         ...       ...      ...     ...     ...
11739     176.0      2.01      1.0     2.0     2.0
11740     181.0      5.00      1.0     1.0     2.0
11741     183.0      1.95      2.0     2.0     2.0
11742     176.0      3.11      1.0     2.0     2.0
11743     187.0      5.00      2.0     2.0     1.0

[11744 rows x 18 columns]